table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 1px solid #888;
    margin:1px;
    text-align: center;
    padding: 8px;
  }
  
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #111;
  }
  /* tr:nth-child(odd) {
    background-color: #111;
  } */
  .hoverTD:hover {
    border: 2px solid #ff0000;
  }
  .hoverViewMetadata:hover {
    background-color: rgba(220,220,250,0.2);
    cursor: pointer;
  }
  .hoverEjectToken:hover {
    background-color: rgba(250,100,100,0.5);
    cursor: pointer;
  }
  .hoverIcon:hover {
    cursor: pointer;
  }


  .disabledhoverRefreshIcon {
    color:rgba(255,50,50,0.3);
  }
  .hoverRefreshIcon {
    color:#aaa;
  }
  .hoverRefreshIcon:hover {
    color:#fff;
  }
  .tickboxHover:hover {
    background-color:rgba(255,255,255,0.7);
  }
  .tickboxSelected {
    background-color:rgba(0,255,0,1);
  }
  .clickedUnregisteredToken {
    border: 2px solid #00ff00;
  }

  .hideScrollbar::-webkit-scrollbar {
    display: none;
  }
  .clickedDepositItem {
    background-color:#fff;
  }